body {
    margin: 0;
    padding: 0;
    background-image: url(../images/chirayu-trivedi-pTb54lkyuNQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c9c8c9;
    
}

.clock {
    background-color: #d0792e /*rgb(201, 152, 176)*/;
    color: whitesmoke;
    background-size: cover;
}

.display {
    text-align: center;
    align-items: center;
    font-size: 6rem;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    color:whitesmoke /*rgb(49, 4, 23)*/;

}

.text {
    text-align: center;
    align-items: center;
    color: rgb(248, 244, 246);
    font-size: 25px;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    padding-bottom: 15px;
}

.top-bar-right {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    
}

.data
{
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

.menu {
    margin-left: 25px;
    background-color: black;
    border:6px solid black;
}

.button {
    background-color: #000fff; /*rgb(177, 52, 114);*/
    color: white ;
    height: 40px;
    border-radius: 6px;
    
}

.button:hover {
    background-color: black;
    color: white;
}

.currencySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.currency{
    margin:0;
}
.currencySearch{
    margin:0;
    padding: 0;
}
.title{
    font-weight: bold;
    font-size: 25px;
}